*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #8be1eb;
    gap: 30px;
    h1{
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2{
            text-align: center;
        }
        >div{
            display: flex;
            gap: 40px;
            justify-content: center;
            >div{
                width: 70px;
                height: 70px;
                background-color: a#469e37;
                display: flex;
                justify-content: flex-end;
                p{
                    background-color: beige;
                }


            }
        }
    }
}
